name: Java chat CI

on: push

jobs:
  backend:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          java-version: '19'
          distribution: 'corretto'
          cache: 'maven'
      - name: Build/test with Maven
        run: |
          mvn install -DskipTests
          mvn test -P no-client-tests

  client-chat-form:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          java-version: '19'
          distribution: 'corretto'
          cache: 'maven'
      - name: Set up Xvfbc
        run: |
          sudo apt-get update
          sudo apt-get install xvfb
          sudo apt-get install at-spi2-core
      - name: Build/test with Maven
        run: |
          Xvfb :99 &
          export DISPLAY=:99
          mvn install -DskipTests 
          mvn test -Dtest="ChatFormTest" -pl client

  client-configure-chat-form:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          java-version: '19'
          distribution: 'corretto'
          cache: 'maven'
      - name: Set up Xvfbc
        run: |
          sudo apt-get update
          sudo apt-get install xvfb
          sudo apt-get install at-spi2-core
      - name: Build/test with Maven
        run: |
          Xvfb :99 &
          export DISPLAY=:99
          mvn install -DskipTests 
          mvn test -Dtest="ConfigureChatFormTest" -pl client

  client-create-chat-form:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          java-version: '19'
          distribution: 'corretto'
          cache: 'maven'
      - name: Set up Xvfbc
        run: |
          sudo apt-get update
          sudo apt-get install xvfb
          sudo apt-get install at-spi2-core
      - name: Build/test with Maven
        run: |
          Xvfb :99 &
          export DISPLAY=:99
          mvn install -DskipTests 
          mvn test -Dtest="CreateChatFormTest" -pl client

  client-forgot-password-form:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          java-version: '19'
          distribution: 'corretto'
          cache: 'maven'
      - name: Set up Xvfbc
        run: |
          sudo apt-get update
          sudo apt-get install xvfb
          sudo apt-get install at-spi2-core
      - name: Build/test with Maven
        run: |
          Xvfb :99 &
          export DISPLAY=:99
          mvn install -DskipTests 
          mvn test -Dtest="ForgotPasswordFormTest" -pl client

  client-forward-message-form:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          java-version: '19'
          distribution: 'corretto'
          cache: 'maven'
      - name: Set up Xvfbc
        run: |
          sudo apt-get update
          sudo apt-get install xvfb
          sudo apt-get install at-spi2-core
      - name: Build/test with Maven
        run: |
          Xvfb :99 &
          export DISPLAY=:99
          mvn install -DskipTests 
          mvn test -Dtest="ForwardMessageFormTest" -pl client

  client-login-form:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          java-version: '19'
          distribution: 'corretto'
          cache: 'maven'
      - name: Set up Xvfbc
        run: |
          sudo apt-get update
          sudo apt-get install xvfb
          sudo apt-get install at-spi2-core
      - name: Build/test with Maven
        run: |
          Xvfb :99 &
          export DISPLAY=:99
          mvn install -DskipTests 
          mvn test -Dtest="LoginFormTest" -pl client

  client-profile-form:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          java-version: '19'
          distribution: 'corretto'
          cache: 'maven'
      - name: Set up Xvfbc
        run: |
          sudo apt-get update
          sudo apt-get install xvfb
          sudo apt-get install at-spi2-core
      - name: Build/test with Maven
        run: |
          Xvfb :99 &
          export DISPLAY=:99
          mvn install -DskipTests 
          mvn test -Dtest="ProfileFormTest" -pl client

  client-properties:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          java-version: '19'
          distribution: 'corretto'
          cache: 'maven'
      - name: Set up Xvfbc
        run: |
          sudo apt-get update
          sudo apt-get install xvfb
          sudo apt-get install at-spi2-core
      - name: Build/test with Maven
        run: |
          Xvfb :99 &
          export DISPLAY=:99
          mvn install -DskipTests 
          mvn test -Dtest="PropertiesTest" -pl client

  system:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          java-version: '19'
          distribution: 'corretto'
          cache: 'maven'
      - name: Set up Xvfbc
        run: |
          sudo apt-get update
          sudo apt-get install xvfb
          sudo apt-get install at-spi2-core
      - name: Build/test with Maven
        run: |
          Xvfb :99 &
          export DISPLAY=:99
          mvn clean package -P system